In [1]:
import pandas as pd
import numpy as np
import re
import statsmodels.api as sm
import matplotlib.pyplot as plt
import finance_byu.rolling as rolling

In [2]:
def convert_ar_characters(input_str):

    mapping = {
        'ك': 'ک',
        'گ':'گ',
        'دِ': 'د',
        'بِ': 'ب',
        'زِ': 'ز',
        'ذِ': 'ذ',
        'شِ': 'ش',
        'سِ': 'س',
        'ى': 'ی',
        'ي': 'ی'
    }
    return _multiple_replace(mapping, input_str)


def _multiple_replace(mapping, text):
    pattern = "|".join(map(re.escape, mapping.keys()))
    return re.sub(pattern, lambda m: mapping[m.group()], str(text))

def vv(row):
    X = row.split('-')
    return X[0]+X[1]+X[2]
def DriveYearMonthDay(d):
    d['jalaliDate'] = d['jalaliDate'].astype(str)
    d['Year'] = d['jalaliDate'].str[0:4]
    d['Month'] = d['jalaliDate'].str[4:6]
    d['Day'] = d['jalaliDate'].str[6:8]
    d['jalaliDate'] = d['jalaliDate'].astype(int)
    return d

In [3]:
path = r"H:\Economics\Finance(Prof.Heidari-Aghajanzadeh)\Data\PriceLimit"
n1 = path + '\Stocks_Holders_1396.csv'
n2 = path + '\Stocks_Holders_1397.csv'
n3 = path + '\Stocks_Holders_1398.csv'
n4 = path +  '\Stocks_Holders_1399-07-27_From99.csv'

n5 = path + '\Stocks_Prices_1399-09-24.csv'

n6 = path + '\\InsInd_1399-05-09' + '.csv'


n7 = path + '\Stocks_Holders_From96.csv'
n8 = path + '\Stocks_Holders_From97.csv'
n9 = path + '\Stocks_Holders_From98.csv'
n10 = path + '\Stocks_Holders_1399-10-20_From99.csv'

In [4]:
df6 = pd.read_csv(n6)
df6 = df6[~df6['ind_sell_volume'].isnull()].rename(columns = {'ID':'stock_id','Date':'date'})
df6['date'] = df6['date'].apply(vv)
df6['date'] = df6['date'].astype(int)
df6 = df6.drop(columns =['Name','Unnamed: 0'])
df6.head()

,stock_id,date,ind_buy_count,ins_buy_count,ind_sell_count,ins_sell_count,ind_buy_volume,ins_buy_volume,ind_sell_volume,ins_sell_volume,ind_buy_value,ins_buy_value,ind_sell_value,ins_sell_value
0,8977369674477111,20200729,339,5,537,2,921425,806009,1377434,350000,53710124050,47044582010,80192206060,20562500000
1,8977369674477111,20200728,263,3,486,2,1072215,781447,1792884,60778,59971835640,43763906780,100331616640,3404125780
2,8977369674477111,20200727,355,5,799,1,1680864,2311814,3892678,100000,89348815840,123673172480,207716769980,5305218340
3,8977369674477111,20200726,240,1,163,0,454115,100000,554115,0,25005029130,5472500000,30477529130,0
4,8977369674477111,20200725,575,3,755,1,1024073,779062,1733135,70000,58129831550,45187318270,99117149820,4200000000

In [42]:
df1 = pd.read_csv(n1)
df2 = pd.read_csv(n2)
df3 = pd.read_csv(n3)
df4 = pd.read_csv(n4)
df7 = pd.read_csv(n7)
df8 = pd.read_csv(n8)
df9 = pd.read_csv(n9)
df10 = pd.read_csv(n10)

pdf = pd.read_csv(n5)

In [43]:
df = pd.DataFrame()
for i in [df1,df2,df3,df4,df7,df8,df9,df10]:
    df = df.append(i)
df = df[['name','date','jalaliDate',
         'group_name', 'PriceMaxLimit','PriceMinLimit','name','Total']].drop_duplicates().reset_index(drop = True)  
df = df.loc[:,~df.columns.duplicated(keep='first')]

In [44]:
df[df.name == 'فولاد']

,name,date,jalaliDate,group_name,PriceMaxLimit,PriceMinLimit,Total
6600,فولاد,20170325,1396-01-05,فلزات اساسي,1479.0,1339.0,75000000000
6601,فولاد,20170326,1396-01-06,فلزات اساسي,1478.0,1338.0,75000000000
6602,فولاد,20170327,1396-01-07,فلزات اساسي,1478.0,1338.0,75000000000
6603,فولاد,20170328,1396-01-08,فلزات اساسي,1479.0,1339.0,75000000000
6604,فولاد,20170329,1396-01-09,فلزات اساسي,1478.0,1338.0,75000000000
6605,فولاد,20170403,1396-01-14,فلزات اساسي,1479.0,1339.0,75000000000
6606,فولاد,20170404,1396-01-15,فلزات اساسي,1476.0,1336.0,75000000000
6607,فولاد,20170405,1396-01-16,فلزات اساسي,1479.0,1339.0,75000000000
6608,فولاد,20170408,1396-01-19,فلزات اساسي,1472.0,1332.0,75000000000
6609,فولاد,20170409,1396-01-20,فلزات اساسي,1467.0,1329.0,75000000000
6610,فولاد,20170410,1396-01-21,فلزات اساسي,1459.0,1321.0,75000000000
6611,فولاد,20170412,1396-01-23,فلزات اساسي,1441.0,1305.0,75000000000
6612,فولاد,20170415,1396-01-26,فلزات اساسي,1416.0,1282.0,75000000000
6613,فولاد,20170416,1396-01-27,فلزات اساسي,1397.0,1265.0,75000000000
6614,فولاد,20170417,1396-01-28,فلزات اساسي,1397.0,1265.0,75000000000
6615,فولاد,20170418,1396-01-29,فلزات اساسي,1399.0,1267.0,75000000000
6616,فولاد,20170419,1396-01-30,فلزات اساسي,1396.0,1264.0,75000000000
6617,فولاد,20170422,1396-02-02,فلزات اساسي,1421.0,1287.0,75000000000
6618,فولاد,20170423,1396-02-03,فلزات اساسي,1401.0,1269.0,75000000000
6619,فولاد,20170424,1396-02-04,فلزات اساسي,1389.0,1257.0,75000000000
6620,فولاد,20170426,1396-02-06,فلزات اساسي,1411.0,1277.0,75000000000
6621,فولاد,20170429,1396-02-09,فلزات اساسي,1410.0,1276.0,75000000000
6622,فولاد,20170430,1396-02-10,فلزات اساسي,1428.0,1292.0,75000000000
6623,فولاد,20170501,1396-02-11,فلزات اساسي,1422.0,1288.0,75000000000
6624,فولاد,20170502,1396-02-12,فلزات اساسي,1435.0,1299.0,75000000000
6625,فولاد,20170503,1396-02-13,فلزات اساسي,1428.0,1292.0,75000000000
6626,فولاد,20170506,1396-02-16,فلزات اساسي,1433.0,1297.0,75000000000
6627,فولاد,20170507,1396-02-17,فلزات اساسي,1423.0,1289.0,75000000000
6628,فولاد,20170508,1396-02-18,فلزات اساسي,1423.0,1289.0,75000000000
6629,فولاد,20170509,1396-02-19,فلزات اساسي,1437.0,1301.0,75000000000
...,...,...,...,...,...,...,...
392015,فولاد,20200229,1398-12-10,فلزات اساسي,5012.0,4536.0,209000000000
430083,فولاد,20200519,1399-02-30,فلزات اساسي,10673.0,9657.0,209000000000
430084,فولاد,20200520,1399-02-31,فلزات اساسي,10242.0,9268.0,209000000000
430085,فولاد,20200523,1399-03-03,فلزات اساسي,9737.0,8811.0,209000000000
430086,فولاد,20200526,1399-03-06,فلزات اساسي,9251.0,8371.0,209000000000
430087,فولاد,20200527,1399-03-07,فلزات اساسي,8804.0,7966.0,209000000000
430088,فولاد,20200530,1399-03-10,فلزات اساسي,9087.0,8223.0,209000000000
430089,فولاد,20200531,1399-03-11,فلزات اساسي,9541.0,8633.0,209000000000
430090,فولاد,20200601,1399-03-12,فلزات اساسي,9499.0,8595.0,209000000000
430091,فولاد,20200912,1399-06-22,فلزات اساسي,17570.0,15910.0,209000000000
430092,فولاد,20200923,1399-07-02,فلزات اساسي,20080.0,18180.0,209000000000
430093,فولاد,20200927,1399-07-06,فلزات اساسي,20800.0,18820.0,209000000000
430094,فولاد,20200930,1399-07-09,فلزات اساسي,18370.0,16630.0,209000000000
430095,فولاد,20201003,1399-07-12,فلزات اساسي,18810.0,17030.0,209000000000
430096,فولاد,20201004,1399-07-13,فلزات اساسي,19640.0,17780.0,209000000000
430097,فولاد,20201005,1399-07-14,فلزات اساسي,19120.0,17300.0,209000000000
430098,فولاد,20201006,1399-07-15,فلزات اساسي,18750.0,16970.0,209000000000
430099,فولاد,20201027,1399-08-06,فلزات اساسي,13730.0,12430.0,209000000000
430100,فولاد,20201028,1399-08-07,فلزات اساسي,13120.0,11880.0,209000000000
430101,فولاد,20201031,1399-08-10,فلزات اساسي,13060.0,11820.0,209000000000
430102,فولاد,20201101,1399-08-11,فلزات اساسي,13660.0,12360.0,209000000000
430103,فولاد,20201102,1399-08-12,فلزات اساسي,13130.0,11890.0,209000000000
430104,فولاد,20201104,1399-08-14,فلزات اساسي,12940.0,11720.0,209000000000
430105,فولاد,20201107,1399-08-17,فلزات اساسي,13580.0,12300.0,209000000000
430106,فولاد,20201108,1399-08-18,فلزات اساسي,12910.0,11690.0,209000000000
430107,فولاد,20201109,1399-08-19,فلزات اساسي,12640.0,11440.0,209000000000
430108,فولاد,20201110,1399-08-20,فلزات اساسي,12110.0,10970.0,209000000000
430109,فولاد,20201111,1399-08-21,فلزات اساسي,12180.0,11020.0,209000000000
430110,فولاد,20201128,1399-09-08,فلزات اساسي,13770.0,12470.0,209000000000
430111,فولاد,20201202,1399-09-12,فلزات اساسي,15140.0,13700.0,209000000000

In [45]:
for col in ['name' , 'group_name']:
    print('1')
#     df6[col] = df6[col].apply(lambda x: convert_ar_characters(x))
    print('2')
    df[col] = df[col].apply(lambda x: convert_ar_characters(x))
    print('3')
    pdf[col] = pdf[col].apply(lambda x: convert_ar_characters(x))

1
2
3
1
2
3

In [46]:
len(set(df.name)),len(set(pdf.name))

(772, 1297)

In [47]:
pdf.jalaliDate.iloc[0]

'1399-09-24'

In [48]:
symbols = [ 'سپرده','هما','وهنر-پذیره','نکالا','تکالا','اکالا','توسعه گردشگری ','وآفر','ودانا','نشار','نبورس','چبسپا','بدکو','چکارم','تراک','کباده','فبستم','تولیددارو','قیستو','خلیبل','پشاهن','قاروم','هوایی سامان','کورز','شلیا','دتهران','نگین','کایتا','غیوان','تفیرو','سپرمی','بتک']
df = df.drop(df[df['name'].isin(symbols)].index)
df = df.drop(df[df.group_name== 'صندوق سرمایه گذاری قابل معامله'].index)
# df = df.drop(df[(df.name == 'اتکای')&(df.close_price == 1000)].index)
df = df.drop_duplicates()


pdf = pdf.drop(pdf[pdf['name'].isin(symbols)].index)
pdf = pdf.drop(pdf[pdf.group_name== 'صندوق سرمایه گذاری قابل معامله'].index)
pdf = pdf.drop(pdf[(pdf.name == 'اتکای')&(pdf.close_price == 1000)].index)
pdf = pdf.drop_duplicates()

pdf.jalaliDate = pdf.jalaliDate.apply(vv)

In [49]:
pdf = pdf[['jalaliDate','stock_id','date', 'name','group_name',
           'baseVol', 'max_price', 'min_price','close_price',
           'last_price', 'open_price', 'value', 'volume',
       'quantity']].sort_values(by= ['name','date'])

In [50]:
path2 = r"G:\TseClient\Data adjusted"
index = pd.read_excel(path2 + '\IRX6XTPI0009.xls')[['<COL14>','<CLOSE>']].rename(columns = {'<COL14>':'jalaliDate','<CLOSE>':'Index'})
index['Market_return'] =  index['Index'].pct_change(periods = 1)*100
index = DriveYearMonthDay(index)
pdf.jalaliDate = pdf.jalaliDate.astype(int)
index = index[index.jalaliDate >= pdf.jalaliDate.min()] 
n = r"H:\Economics\Finance(Prof.Heidari-Aghajanzadeh)\Data" + '\RiskFree.xlsx'
rf = pd.read_excel(n)
rf = rf.rename(columns = {'Unnamed: 2' : 'Year'})
rf['YM'] = rf['YM'].astype(str)
rf['YM'] = rf['YM'] + '00'
rf['YM'] = rf['YM'].astype(int)
index['RiskFree'] = np.nan
index['jalaliDate'] = index['jalaliDate'].astype(int)
for i in rf.YM:
    index.loc[index.jalaliDate>= i,'RiskFree'] = rf.loc[rf['YM'] == i ].iloc[0,1]/356

In [51]:
pdf = DriveYearMonthDay(pdf)
pdf = pdf.merge(index,on = ['jalaliDate','Year','Month','Day']).sort_values(by =['name','jalaliDate']).dropna()
pdf = pdf[pdf.volume != 0]
pdf = pdf[pdf.date >= df.date.min()] 
df['jalaliDate'] = df['jalaliDate'].apply(vv)
df['jalaliDate'] = df['jalaliDate'].astype(int)

In [90]:

data = (df.merge(pdf,on=['name','jalaliDate','date','group_name'])).sort_values(by = ['name','date'])
data = data.drop(data[data.volume==0].index)
gg = data.groupby(['name'])
data['Total'] =  gg['Total'].fillna(method='ffill')
data['MarketCap'] = data['close_price'] * data['Total']
m = data.groupby(['date'])['MarketCap'].sum().to_frame().reset_index()

date = list(m.date)
Cap = list(m.MarketCap)
mapingdict = dict(zip(date, Cap))
data['TotalCap'] = data['date'].map(mapingdict)
data['MarketRatio'] = data['MarketCap']/data['TotalCap']
gg = data.groupby(['name'])
data['YesterdayPrice'] = gg['close_price'].shift(periods = 1)
data['YesterdayLastPrice'] = gg['last_price'].shift(periods = 1)
data['YesterdayOpenPrice'] = gg['open_price'].shift(periods = 1)

data['TomorrowClosePrice'] = gg['close_price'].shift(periods = -1)
data['TomorrowLastPrice'] = gg['last_price'].shift(periods = -1)
data['TomorrowOpenPrice'] = gg['open_price'].shift(periods = -1)

data['Limit'] = (data['PriceMaxLimit'].divide(data['YesterdayPrice'])-1)*100




data['Limit'] = data['Limit'].round(2)
data['LimitGroup'] = np.nan
data.loc[(abs(data['Limit'])<=1),'LimitGroup'] = 1
data.loc[(abs(data['Limit'])>1),'LimitGroup'] = 3
data.loc[(abs(data['Limit'])>3),'LimitGroup'] = 4
data.loc[(abs(data['Limit'])>4),'LimitGroup'] = 5
data.loc[(abs(data['Limit'])>5),'LimitGroup'] = 10
data.loc[(abs(data['Limit'])>10),'LimitGroup'] = 0

In [91]:
len(data)

320160

In [92]:
data = data.dropna()
len(data)

318919

In [93]:
len(set(data.name))

620

In [94]:
symbols = list(set(data.name))
ids = list(range(len(symbols)))
mapingdict = dict(zip(symbols, ids))
data['id'] = data['name'].map(mapingdict)

data['jalaliDate'] = data['jalaliDate'].astype(int)
Dates = list(set(data.jalaliDate))
time = list(range(len(Dates)))
mapingdict = dict(zip(sorted(Dates), time))
data['t'] = data['jalaliDate'].map(mapingdict)


groups = list(set(data.group_name))
ids = list(range(len(groups)))
mapingdict = dict(zip(groups, ids))
data['g_id'] = data['group_name'].map(mapingdict)

data = data.drop_duplicates(['id','t'])

data = data[data.open_price != 0]
data = data[data.volume != 0]

data['Close/Open'] = ((data['close_price'].divide(data['open_price'])-1)*100).astype(float)
data['Last/Open'] = ((data['last_price'].divide(data['open_price'])-1)*100).astype(float)
data['ClosetoOpen'] = ((data['TomorrowOpenPrice'].divide(data['close_price'])-1)*100).astype(float)
data['TomorrowOpen/last'] = ((data['TomorrowOpenPrice'].divide(data['last_price'])-1)*100).astype(float)
data['TomorrowLast/TomorrowOpen'] = ((data['TomorrowLastPrice'].divide(data['TomorrowOpenPrice'])-1)*100).astype(float)
data['OpentoClose'] = ((data['TomorrowClosePrice'].divide(data['TomorrowOpenPrice'])-1)*100).astype(float)
data['Turn'] = data['value']/data['MarketCap']
data['Open/Yclose'] = ((data['open_price'].divide(data['YesterdayPrice'])-1)*100).astype(float)
data['Open/YLast'] = ((data['open_price'].divide(data['YesterdayLastPrice'])-1)*100).astype(float)
data['YClose/YOpen'] = ((data['YesterdayPrice'].divide(data['YesterdayOpenPrice'])-1)*100).astype(float)

def divide_to_mean(g):
    print(g.name, end="\r", flush=True)
    g = g / g.rolling(60,1).mean()
    return g

tdata = pd.DataFrame()
tdata = tdata.append(data)
tdata ['RelTurn'] = np.nan
gg = tdata.groupby(['name'])

tdata['RelTurn'] = gg['Turn'].apply(divide_to_mean)
data = pd.DataFrame()
data = data.append(tdata)
del tdata

data['PastLimit'] = data.groupby(['name'])['LimitGroup'].shift(periods = 1)
data['Max/Yclose'] = ((data['max_price'].divide(data['YesterdayPrice'])-1)*100).astype(float)
data['Min/Yclose'] =  ((data['min_price'].divide(data['YesterdayPrice'])-1)*100).astype(float) 
data = data.replace([np.inf, -np.inf], np.nan)

data['upperHit'] = 0
data.loc[data.max_price == data.PriceMaxLimit,'upperHit'] = 1

data['lowerHit'] = 0
data.loc[data.min_price == data.PriceMinLimit,'lowerHit'] = 1

data['limitChange'] = 0
data.loc[data.PastLimit != data.LimitGroup ,'limitChange'] = 1

data['upper'] = 0
data.loc[(data['Max/Yclose']>(data.Limit)/2)&(data.upperHit == 0),'upper'] = 1

data['lower'] = 0
data.loc[(abs(data['Min/Yclose'])>(data.Limit)/2)&(data.lowerHit == 0),'lower'] = 1

data['middle'] = 0
data.loc[(abs(data['Min/Yclose'])<(data.Limit)/2)&(abs(data['Max/Yclose'])<(data.Limit)/2),'middle'] = 1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [95]:
len(set(data.name))

620

In [96]:

data['v3'] = 0
data.loc[(data['Max/Yclose']>=2)&(data.upperHit == 0),'v3'] = 1


data['v2'] = 0
data.loc[(data['Max/Yclose']>=4)&(data.upperHit == 0),'v2'] = 1

data['v1'] = 0
data.loc[(data['Max/Yclose']>=4.5)&(data.upperHit == 0),'v1'] = 1

for i in [4.7,4.8,4.9,4.95]:
    
    data['v' + str(i)] = 0
    data.loc[(data['Max/Yclose']>=i)&(data.upperHit == 0),'v' + str(i)] = 1



data['v4'] = 0
data.loc[(data['Min/Yclose']<0)&(abs(data['Min/Yclose'])>=2)&(data.lowerHit == 0),'v4'] = 1

data['v5'] = 0
data.loc[(data['Min/Yclose']<0)&(abs(data['Min/Yclose'])>=4)&(data.lowerHit == 0),'v5'] = 1

data['v6'] = 0
data.loc[(data['Min/Yclose']<0)&(abs(data['Min/Yclose'])>=4.5)&(data.lowerHit == 0),'v6'] = 1

for i in [4.7,4.8,4.9,4.95]:
    
    data['v-' + str(i)] = 0
    data.loc[(data['Min/Yclose']<0)&(data['Max/Yclose']>=i)&(data.upperHit == 0),'v-' + str(i)] = 1



data['vm'] = 0
data.loc[(abs(data['Min/Yclose'])<2)&(abs(data['Max/Yclose'])<2),'vm'] = 1

In [97]:
data.columns

Index(['name', 'date', 'jalaliDate', 'group_name', 'PriceMaxLimit',
       'PriceMinLimit', 'Total', 'stock_id', 'baseVol', 'max_price',
       'min_price', 'close_price', 'last_price', 'open_price', 'value',
       'volume', 'quantity', 'Year', 'Month', 'Day', 'Index', 'Market_return',
       'RiskFree', 'MarketCap', 'TotalCap', 'MarketRatio', 'YesterdayPrice',
       'YesterdayLastPrice', 'YesterdayOpenPrice', 'TomorrowClosePrice',
       'TomorrowLastPrice', 'TomorrowOpenPrice', 'Limit', 'LimitGroup', 'id',
       't', 'g_id', 'Close/Open', 'Last/Open', 'ClosetoOpen',
       'TomorrowOpen/last', 'TomorrowLast/TomorrowOpen', 'OpentoClose', 'Turn',
       'Open/Yclose', 'Open/YLast', 'YClose/YOpen', 'RelTurn', 'PastLimit',
       'Max/Yclose', 'Min/Yclose', 'upperHit', 'lowerHit', 'limitChange',
       'upper', 'lower', 'middle', 'v3', 'v2', 'v1', 'v4.7', 'v4.8', 'v4.9',
       'v4.95', 'v4', 'v5', 'v6', 'v-4.7', 'v-4.8', 'v-4.9', 'v-4.95', 'vm'],
      dtype='object')

In [98]:
    def ols(tempt):
        y ,x = 'ER', 'EMR'
        model = sm.OLS(tempt[y], sm.add_constant(tempt[x])).fit()
        beta = model.params[1]
        alpha = model.params[0]
        return alpha,beta

In [99]:
    ARdata = pd.DataFrame()
    ARdata = ARdata.append(data[['name','date','jalaliDate',
                                 'close_price','Market_return','RiskFree']])
    
    ARdata['Return'] = ARdata.groupby('name')['close_price'].pct_change(periods = 1)*100
    ARdata['ER']= ARdata['Return'] - ARdata['RiskFree']
    ARdata['EMR']= ARdata['Market_return'] - ARdata['RiskFree']
    gg = ARdata.groupby('name')
    g = gg.get_group('فولاد')
    g = g[~g.ER.isnull()]
    
    def ols(tempt):
        y ,x = 'ER', 'EMR'
        model = sm.OLS(tempt[y], sm.add_constant(tempt[x])).fit()
        beta = model.params[1]
        alpha = model.params[0]
        return alpha,beta

    
    def CAPM(g):
        print(g.name, end="\r", flush=True)
        
        g['AbnormalReturn'] = np.nan
        tempt = g[~g.ER.isnull()]
        if len(tempt) == 0:
            return
        alpha,beta = ols(tempt)
        g.loc[~g.ER.isnull(),'AbnormalReturn'] = tempt['Return'] - (tempt['RiskFree'] + alpha + beta * tempt['EMR'])
        return g
    
ARdata = gg.apply(CAPM)

In [100]:
ARdata = ARdata[['name', 'date', 'jalaliDate','AbnormalReturn']].reset_index(drop = True)

In [101]:
data = data.merge(ARdata,on=['name', 'date', 'jalaliDate'],how = 'right').sort_values(by = ['name','date'])
len(data)

318909

In [102]:
data = data.dropna()
len(data)

318272

In [104]:
data.head()

,name,date,jalaliDate,group_name,PriceMaxLimit,PriceMinLimit,Total,stock_id,baseVol,max_price,...,v4.95,v4,v5,v6,v-4.7,v-4.8,v-4.9,v-4.95,vm,AbnormalReturn
1,آ س پ,20170327,13960107,انبوه سازی، املاک و مستغلات,1047.0,949.0,800000000,17617474823279712,4152480.0,1030.0,...,0,0,0,0,0,0,0,0,0,1.247803
2,آ س پ,20170328,13960108,انبوه سازی، املاک و مستغلات,1061.0,961.0,800000000,17617474823279712,4152480.0,1040.0,...,0,0,0,0,0,0,0,0,0,1.423261
3,آ س پ,20170329,13960109,انبوه سازی، املاک و مستغلات,1077.0,975.0,800000000,17617474823279712,4152480.0,1077.0,...,0,0,0,0,0,0,0,0,0,3.630766
4,آ س پ,20170403,13960114,انبوه سازی، املاک و مستغلات,1117.0,1011.0,800000000,17617474823279712,4152480.0,1095.0,...,0,0,0,0,0,0,0,0,0,0.401103
5,آ س پ,20170404,13960115,انبوه سازی، املاک و مستغلات,1122.0,1016.0,800000000,17617474823279712,4152480.0,1084.0,...,0,1,1,0,0,0,0,0,0,-1.375984

In [105]:
ret = list(range(15))
for i in ret:
    print(i+1, end="\r", flush=True)
    p = i+1
    name1 = 'Ret_' + str(p)
    gg = data.groupby(['name'])
    data[name1] =  gg['close_price'].pct_change(periods = p)*100
    gg = data.groupby(['name'])
    data[name1] = gg[name1] .shift(-p)
    
    gg = data.groupby(['name'])
    data['E'+name1] = gg['Index'].pct_change(periods = p)*100
    gg = data.groupby(['name'])
    data['E'+name1] = gg['E'+name1].shift(-p)
    data['E'+name1] = data[name1] - data['E'+name1]
    
    gg = data.groupby(['name'])
    data['Ab'+name1] = gg['AbnormalReturn'].rolling(p).sum().shift(-(p-1), axis = 0).reset_index(drop = True)


    
    
    
    
    name1 = 'PRet_' + str(p)
    data[name1] =  (gg['close_price'].pct_change(periods = p)*100)
    gg = data.groupby(['name'])
    data['E'+name1] = (gg['Index'].pct_change(periods = p)*100)
    gg = data.groupby(['name'])
    data['E'+name1] = data[name1] - data['E'+name1]
    gg = data.groupby(['name'])
    data['Ab'+name1] = gg['AbnormalReturn'].rolling(p).sum().reset_index(drop = True)
    
ret = [50,100,300]
for p in ret:
    print(p, end="\r", flush=True)
    name1 = 'Ret_' + str(p)
    gg = data.groupby(['name'])
    data[name1] =  gg['close_price'].pct_change(periods = p)*100
    gg = data.groupby(['name'])
    data[name1] = gg[name1] .shift(-p)
    
    gg = data.groupby(['name'])
    data['E'+name1] = gg['Index'].pct_change(periods = p)*100
    gg = data.groupby(['name'])
    data['E'+name1] = gg['E'+name1].shift(-p)
    data['E'+name1] = data[name1] - data['E'+name1]
    gg = data.groupby(['name'])
    data['Ab'+name1] = gg['AbnormalReturn'].rolling(p).sum().shift(-p, axis = 0).reset_index(drop = True)

In [106]:
data['jalaliDate'] = data['jalaliDate'].astype(int)
data = data.sort_values(by = ['name','date'])
data.columns

Index(['name', 'date', 'jalaliDate', 'group_name', 'PriceMaxLimit',
       'PriceMinLimit', 'Total', 'stock_id', 'baseVol', 'max_price',
       ...
       'AbPRet_15', 'Ret_50', 'ERet_50', 'AbRet_50', 'Ret_100', 'ERet_100',
       'AbRet_100', 'Ret_300', 'ERet_300', 'AbRet_300'],
      dtype='object', length=172)

In [107]:
data[['date','name','close_price','Index','Ret_2','ERet_2','AbRet_2','AbPRet_2']].head()

,date,name,close_price,Index,Ret_2,ERet_2,AbRet_2,AbPRet_2
1,20170327,آ س پ,1011.0,77523.3,5.242334,5.163519,5.054027,2.671064
2,20170328,آ س پ,1026.0,77548.5,4.191033,4.102959,4.031869,5.054027
3,20170329,آ س پ,1064.0,77584.4,-0.845865,-0.926680,-0.974882,4.031869
4,20170403,آ س پ,1069.0,77616.8,-3.928906,-4.023086,-4.110966,-0.974882
5,20170404,آ س پ,1055.0,77647.1,-1.800948,-2.003917,-2.023723,-4.110966

In [108]:
data2 = data.merge(df6, on =['date','stock_id'] , how = 'left')
data = pd.DataFrame()
data = data.append(data2)
del data2

In [109]:
data["Ret_2to5"] = data['Ret_5'] -  data['Ret_2']
data["Ret_5to50"] = data['Ret_50'] -  data['Ret_5']
data["Ret_50to100"] = data['Ret_100'] -  data['Ret_50']
data["Ret_100to300"] = data['Ret_300'] -  data['Ret_100']

data["ERet_2to5"] = data['ERet_5'] -  data['ERet_2']
data["ERet_5to50"] = data['ERet_50'] -  data['ERet_5']
data["ERet_50to100"] = data['ERet_100'] -  data['ERet_50']
data["ERet_100to300"] = data['ERet_300'] -  data['ERet_100']

data["AbRet_2to5"] = data['AbRet_5'] -  data['AbRet_2']
data["AbRet_5to50"] = data['Ret_50'] -  data['AbRet_5']
data["AbRet_50to100"] = data['AbRet_100'] -  data['AbRet_50']
data["AbRet_100to300"] = data['AbRet_300'] -  data['AbRet_100']


data['NetInd'] = data['ind_buy_volume'] - data['ind_sell_volume']
data['TotalInd'] = data['ind_buy_volume'] + data['ind_sell_volume']
data['NetIns'] = data['ins_buy_volume'] - data['ins_sell_volume']
data['TotalIns'] = data['ins_buy_volume'] + data['ins_sell_volume']

data['IndlImbalance'] = data['NetInd'].divide(data['TotalInd'])
gg = data.groupby(['name'])
data['FIndlImbalance'] = gg['IndlImbalance'].shift(-1)
data['F2IndlImbalance'] = gg['IndlImbalance'].shift(-2)

data['InslImbalance'] = data['NetIns'].divide(data['TotalIns'])

gg = data.groupby(['name'])
data['FInslImbalance'] = gg['InslImbalance'].shift(-1)
data['F2InslImbalance'] = gg['InslImbalance'].shift(-2)



data['NetIndValue'] = data['ind_buy_value'] - data['ind_sell_value']
data['NetInsValue'] = data['ins_buy_value'] - data['ins_sell_value']

data['TotalIndValue'] = data['ind_buy_value'] + data['ind_sell_value']
data['TotalInsValue'] = data['ins_buy_value'] + data['ins_sell_value']

data['IndlImbalanceValue'] = data['NetIndValue'].divide(data['TotalIndValue'])
data['InslImbalanceValue'] = data['NetInsValue'].divide(data['TotalInsValue'])



data['Amihud'] = data['Ret_1']/data['volume']

In [110]:
llist = ['IndlImbalance','InslImbalance','IndlImbalanceValue','InslImbalanceValue',
         'Turn','RelTurn','NetIndValue','NetInsValue','NetInd','NetIns','Amihud']
for i in range(15):
    print(i, end="\r", flush=True)
    gg = data.groupby('name')
    for j in llist:
        data["P"+str(i+1)+j] = gg[j].shift(i+1)
        data["F"+str(i+1)+j] = gg[j].shift(-1*(i+1))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [111]:
index['Positive'] = index.Index.diff()
index.loc[index.Positive < 0,"Positive"] = 0
index.loc[index.Positive > 0,"Positive"] = 1

mapingdict = dict(zip(index.jalaliDate, index.Positive))
data['Positive'] = data['jalaliDate'].map(mapingdict)
data.tail()

,name,date,jalaliDate,group_name,PriceMaxLimit,PriceMinLimit,Total,stock_id,baseVol,max_price,...,F15NetIndValue,P15NetInsValue,F15NetInsValue,P15NetInd,F15NetInd,P15NetIns,F15NetIns,P15Amihud,F15Amihud,Positive
318267,گکیش,20201125,13990905,هتل و رستوران,63544.0,59844.0,128000000,44665761767777759,298914.0,59844.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.771140e-07,NaN,1.0
318268,گکیش,20201128,13990908,هتل و رستوران,64240.0,58122.0,128000000,44665761767777759,298914.0,58122.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6.212043e-08,NaN,1.0
318269,گکیش,20201129,13990909,هتل و رستوران,62463.0,58825.0,128000000,44665761767777759,298914.0,58825.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.107209e-05,NaN,1.0
318270,گکیش,20201130,13990910,هتل و رستوران,62255.0,58629.0,128000000,44665761767777759,298914.0,58629.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.267293e-05,NaN,1.0
318271,گکیش,20201201,13990911,هتل و رستوران,62078.0,58462.0,128000000,44665761767777759,298914.0,58462.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.366206e-06,NaN,1.0

In [112]:
gg = data.groupby('LimitGroup')
gg.groups.keys()

dict_keys([0.0, 1.0, 3.0, 4.0, 5.0, 10.0])

In [119]:
mdata = data[data.jalaliDate>13980000][['LimitGroup','name']]
gm = mdata.groupby('name')
g = gm.get_group('شستا')

In [120]:
g.groupby('LimitGroup').size()

LimitGroup
0.0      6
1.0      1
3.0      1
4.0      2
5.0     35
10.0     4
dtype: int64

In [ ]:
data

In [125]:
(data[(data.jalaliDate>13990000)&(data.name == "فولاد")]).jalaliDate.to_list()

[13990105,
 13990106,
 13990109,
 13990110,
 13990111,
 13990116,
 13990117,
 13990118,
 13990119,
 13990120,
 13990123,
 13990124,
 13990125,
 13990126,
 13990127,
 13990130,
 13990131,
 13990201,
 13990202,
 13990207,
 13990208,
 13990209,
 13990210,
 13990213,
 13990214,
 13990215,
 13990216,
 13990217,
 13990220,
 13990221,
 13990224,
 13990227,
 13990228,
 13990229,
 13990230,
 13990231,
 13990303,
 13990306,
 13990307,
 13990310,
 13990311,
 13990312,
 13990416,
 13990417,
 13990622,
 13990631,
 13990702,
 13990706,
 13990707,
 13990709,
 13990712,
 13990713,
 13990714,
 13990715,
 13990716,
 13990806,
 13990807,
 13990810,
 13990811,
 13990812,
 13990814,
 13990817,
 13990818,
 13990819,
 13990820,
 13990821,
 13990908]

In [82]:
data5 = data[data.LimitGroup == 5.0]

In [85]:
data5.sort_values(by = ['id','t']).to_csv(path + '\Stock_Price_limit7-5Limit.csv',index = False)
len(set(data5.name)),data5['upperHit'].mean(),data5.groupby('id')[['upperHit']].mean().mean()

(449, 0.2967194004995837, upperHit    0.320827
 dtype: float64)

In [87]:
len(set(data.name))

449

In [77]:
# gg = ORData.groupby('LimitGroup')
# g = gg.get_group(10.0).groupby('name').size()
# g = g.to_frame()
# assets = list(set(g[g[0]>20].index))
# data = data[data.name.isin(assets)]
# # 10Percent limit

# data['v3'] = 0
# data.loc[(data['Max/Yclose']>=5)&(data.upperHit == 0),'v3'] = 1


# data['v2'] = 0
# data.loc[(data['Max/Yclose']>=9)&(data.upperHit == 0),'v2'] = 1

# data['v1'] = 0
# data.loc[(data['Max/Yclose']>=9.5)&(data.upperHit == 0),'v1'] = 1





# data['v4'] = 0
# data.loc[(data['Min/Yclose']<0)&(abs(data['Min/Yclose'])>=5)&(data.lowerHit == 0),'v4'] = 1

# data['v5'] = 0
# data.loc[(data['Min/Yclose']<0)&(abs(data['Min/Yclose'])>=9)&(data.lowerHit == 0),'v5'] = 1

# data['v6'] = 0
# data.loc[(data['Min/Yclose']<0)&(abs(data['Min/Yclose'])>=9.5)&(data.lowerHit == 0),'v6'] = 1




# data['vm'] = 0
# data.loc[(abs(data['Min/Yclose'])<5)&(abs(data['Max/Yclose'])<5),'vm'] = 1
# data.sort_values(by = ['id','t']).to_csv(path + '\Stock_Price_limit7-10Limit.csv',index = False)
# len(set(data.name)),data['upperHit'].mean(),data.groupby('id')[['upperHit']].mean().mean()

In [86]:
# gg = ORData.groupby('LimitGroup')
# g = gg.get_group(3.0).groupby('name').size()
# g = g.to_frame()
# assets = list(set(g[g[0]>20].index))
# data = data[data.name.isin(assets)]

# # 3Percent limit

# data['v3'] = 0
# data.loc[(data['Max/Yclose']>=1)&(data.upperHit == 0),'v3'] = 1


# data['v2'] = 0
# data.loc[(data['Max/Yclose']>=2)&(data.upperHit == 0),'v2'] = 1

# data['v1'] = 0
# data.loc[(data['Max/Yclose']>=2.5)&(data.upperHit == 0),'v1'] = 1





# data['v4'] = 0
# data.loc[(data['Min/Yclose']<0)&(abs(data['Min/Yclose'])>=1)&(data.lowerHit == 0),'v4'] = 1

# data['v5'] = 0
# data.loc[(data['Min/Yclose']<0)&(abs(data['Min/Yclose'])>=2)&(data.lowerHit == 0),'v5'] = 1

# data['v6'] = 0
# data.loc[(data['Min/Yclose']<0)&(abs(data['Min/Yclose'])>=2.5)&(data.lowerHit == 0),'v6'] = 1




# data['vm'] = 0
# data.loc[(abs(data['Min/Yclose'])<1)&(abs(data['Max/Yclose'])<1),'vm'] = 1



# data.sort_values(by = ['id','t']).to_csv(path + '\Stock_Price_limit7-3Limit.csv',index = False)
# len(set(data.name)),data['upperHit'].mean(),data.groupby('id')[['upperHit']].mean().mean()